{
    "root": true,

    "extends": [
        "eslint-config-ironplate/node.js"
    ],

    "rules": {
        "no-restricted-globals": ["error", { "name": "__dirname" }],

        "unicorn/prefer-node-protocol": ["error"]
    }
}
